body{
	margin: 0;
	padding: 0;
	
	background-image: url("bg-img.png");
	background-repeat: no-repeat;
	background-size: cover;
	}
	nav {
		margin: 20px;
		display: flex;
		gap:25px;
		justify-content: center;
		backdrop-filter: blur(0.8);
		box-shadow: 5px 8px 7px -4px rgba(185,165,165,0.85);
		
	}
	
	.nav-btn{
		margin:10px;
	  position: relative;
	  padding: 10px 20px;
	  background-color: transparent;
	  color: rgb(167, 129, 129);
	  border: none;
	  font-size: large;
		
	}
	.nav-btn:hover{
		border: solid rgb(218, 163, 163) 1px;
		border-radius: 5px;
		color: rgb(98, 79, 74);
	}
	
	h1 {
		text-align: center;
	}
	
	.container {
		margin: 0;
		padding: 0;
	}
	
	form {
	position: absolute;
	top: 39%;
	left: 5%;
	display: flex;
	justify-content: center;
	gap: 60px;
	flex-wrap: wrap;
	width:30%;
	}
	
	input{
		align-items: center;
		height: 40px;
		border-radius: 5px;
		border: black solid 2px;
		width: 500px;
		left: 50px;
		background-color: rgb(249, 248, 248);
	}
	#label1{
		position: absolute;
		left:50px;
		 top:55%;"
	}
	
	label {
		color: rgb(9, 8, 8);
		font-size: xx-large;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}
	
	#submit-btn {
		position: absolute;
		top: 45%;
		left: 108%;
		background-color: black;
		width: 110px;
		height:110px;
		line-height: 110px;
		border-radius: 50%;
	
		opacity: 0.8;
	
		border: none;
	  color: rgb(237, 237, 238);
	  text-decoration: none;
	  text-align: center;
	  
	  display: inline-block;
	  font-size: 25px;
	  font-weight: bolder;
	}
	
	.but:hover {
		opacity: 0.5;
		color: rgb(237, 3, 3);
		/* background-color: white; */
		
	}
	.but:active {
	
		color: rgb(10, 10, 10);
		background-color: rgb(255, 251, 251);
	}
	
	#output {
		position: absolute; 
		/* top: 10%; */
		/* left: 5%; */
		background-color: rgb(249, 248, 248);
		color: black;
		width: 500px;
		height: 40px;
		border-radius: 5px;
		/* line-height: 110px; */
		/* border-radius: 50%; */
		text-align: center;
		font-weight: bolder;
		font-size: larger;
		border: black solid 2px;
		left: 50px;
		top: 59%;
	}